@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

@font-face {
  font-family: "Heading";
  src: url("/ITC Avant Garde Gothic Bold.otf");
}
@font-face {
  font-family: "gothic";
  src: url("/century-gothic.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
body {
  background: #171b2c;
}
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #ca8a04;
  border-radius: 20px;
  outline: 1px solid #d59305;
}
.box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media (width < 769px) {
  *::-webkit-scrollbar {
    width: 0;
  }
}